<style>
  .special-rom-title-full {
  }
  
  .special-rom-title-full-subtitles {
  }
  
  .special-rom-title-full-subtitles .special-rom-subtitle {
    margin-left: 39px;
    float: left;
  }
</style>
<div class="special-rom-title-full">
  {{> molecules-special-rom-title }} 
  <div class="special-rom-title-full-subtitles">
    {{> molecules-special-rom-subtitle }} 
    {{> molecules-special-rom-subtitle }} 
  </div>
</div>