<style>
  .special-rom-subtitle {
    height: 50px;
    line-height: 50px;
    width: 140px;
    display: block;
    text-align: center;
    
  }
  
  .special-rom-subtitle:hover {
    height: 46px;
    line-height: 46px;
    border-top: 2px solid transparent;
    border-bottom: 2px solid #45a7fc;
  }
  
  .special-rom-subtitle-text{
    padding-top: 6px;
    line-height: 46px;
    color: #3c3c3c;
    font-size: 14px;
  }
  .special-rom-subtitle-image{
    color: #0298e4;
    font-size: 12px;
    vertical-align: text-bottom;
  }
</style>
<a class="special-rom-subtitle">
  <img class="special-rom-subtitle-image" src="/images/xposed/clean.png">
  <span class="special-rom-subtitle-text">纯净ROM</a>
</a>