<style>
  .special-rom-title {
    border-bottom: 1px solid #dfdfdf;
    height: 52px;
    line-height: 52px;
  }
  
  .special-rom-title-text{
    padding-top: 6px;
    line-height: 46px;
    color: #3c3c3c;
    font-size: 14px;
    margin-left: 35px;
  }
  .special-rom-title-more{
    color: #0298e4;
    font-size: 12px;
    float: right;
    margin-right: 20px;
  }
</style>
<div class="special-rom-title">
  <span class="special-rom-title-text">特色ROM</span>
  <a class="special-rom-title-more">来，说出你想要的ROM</a>
</div>