<style>
.dev-alert-title-two-line { 
    color: #101010; 
    font-size: 14px; 
    line-height: 28px;
    text-align: center;
    display: block;
}
</style>
<span class="dev-alert-title-two-line">test测试<br>test测试test测试</span>