<style>
.th-rom-title { 
    display: inline-block;
    width: 130px;
    height: 72px;
    line-height: 24px;
    color: #333;
    font-size: 12px;
    overflow: hidden;
    position: relative;
    white-space: normal;
}

.th-rom-title:after {
    width: 40%;
    height: 24px;
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    background: -moz-linear-gradient(left, rgba(255,255,255,0), #fff);
    background: -webkit-linear-gradient(left, rgba(255,255,255,0), #fff);
    background: -o-linear-gradient(left, rgba(255,255,255,0), #fff);
    background: linear-gradient(left, rgba(255,255,255,0), #fff);
    word-break: break-all;
    text-align: left;
}

</style>
<span class="th-rom-title">test测试test测试test测试test测试test测试test测试test测试test测试test测试test测试test测试test测试test测试test测试test测试</span>