<style>
.dev-alert-button { 
    display: inline-block;
    width: 128px;
    height: 42px;
    border: 1px solid #ccc;
    line-height: 42px;
    color: #666;
    font-size: 14px;
    background-color: #fcfcfc;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
}

.dev-alert-button:hover {
    border: 1px solid #0081db;
    color: #fff;
    background-color: #0096ff;  
}
</style>
<a class="dev-alert-button">test测试</a>