<style>
.gaosu-btn { 
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    font-size: 12px;
    background: url('/images/icon-gaosu.png') no-repeat 16px center #039ae3;
    text-indent: 34px;
    cursor: pointer;
}
</style>
<a class="gaosu-btn">test测试</a>