<style>
.ludashi-compare-table {
    border-collapse: collapse; 
    border: 1px solid #e5e5e5;
    width: 100%;
}

.ludashi-compare-table th, .ludashi-compare-table td {
    border: 1px solid #e5e5e5;
    line-height: 38px;
    text-align: center;
}

.ludashi-compare-table .ludashi-compare-first-line {
  width: auto;
}

.ludashi-compare-th {
  white-space: nowrap;
  background-color: #f7f7f7;
  width: 108px;
  font-weight: normal;
}

.background-none {
  background-color: transparent;
}

</style>
<table class="ludashi-compare-table">
  <tr class="ludashi-compare-tr">
    <th class="ludashi-compare-th">
      {{> atoms-th-text }} 
    </th>
    <td>
      {{> atoms-td-text }} 
    </td>
    <td>
      {{> atoms-td-text }} 
    </td>
    <td>
      {{> atoms-td-text }} 
    </td>
    <td>
      {{> atoms-td-text }} 
    </td>
    <td>
      {{> atoms-td-text }} 
    </td>
  </tr>
  <tr class="ludashi-compare-tr">
    <th class="ludashi-compare-th background-none">
      {{> atoms-th-text }} 
    </th>
    <td>
      {{> atoms-td-text }} 
    </td>
    <td>
      {{> atoms-td-text }} 
    </td>
    <td>
      {{> atoms-td-text }} 
    </td>
    <td>
      {{> atoms-td-text }} 
    </td>
    <td>
      {{> atoms-td-text }} 
    </td>
  </tr>
  <tr class="ludashi-compare-tr">
    <th class="ludashi-compare-th background-none">
      {{> atoms-th-text }} 
    </th>
    <td>
      {{> atoms-td-text }} 
    </td>
    <td>
      {{> atoms-td-text }} 
    </td>
    <td>
      {{> atoms-td-text }} 
    </td>
    <td>
      {{> atoms-td-text }} 
    </td>
    <td>
      {{> atoms-td-text }} 
    </td>
  </tr>
  <tr class="ludashi-compare-tr">
    <th class="ludashi-compare-th background-none">
      {{> atoms-th-text }} 
    </th>
    <td>
      {{> atoms-td-text }} 
    </td>
    <td>
      {{> atoms-td-text }} 
    </td>
    <td>
      {{> atoms-td-text }} 
    </td>
    <td>
      {{> atoms-td-text }} 
    </td>
    <td>
      {{> atoms-td-text }} 
    </td>
  </tr>
  <tr>
    <td colspan="6">{{> atoms-td-link }}</td>
  </tr>
</table>