<style>
.ludashi-client-detail-mask {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.ludashi-client-detail-mask-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.ludashi-client-detail-icon-close {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    right: 0;
    background: url(/images/x.png) no-repeat center transparent;
}

.ludashi-client-detail-container {
    position: relative;
    margin: 8px auto 0;
    width: 560px;
    height: 490px;
    box-shadow: 0px 0px 8px 0px black;
    background-color: #f6f6f6;
}

.ludashi-client-detail-columns {
    padding: 30px 5px 0;
    background-color: #fff;
    height: 404px;
    box-sizing: content-box;
}

.ludashi-client-detail-column {
    float: left;
    margin-left: 6px;
}

.float-clear {
    clear: both;
}

</style>
<div class="ludashi-client-detail-mask">
  <div class="ludashi-client-detail-mask-bg js-close">&nbsp;</div>
  <div class="ludashi-client-detail-container">    
    <div class="ludashi-client-detail-icon-close js-close">&nbsp;</div>
    <div class="ludashi-client-detail-columns"> 
      <div class="ludashi-client-detail-column"> 
        {{> molecules-ludashi-detail-client-table }} 
      </div>
      <div class="ludashi-client-detail-column"> 
        {{> molecules-ludashi-detail-client-table }}
      </div>
      <div class="float-clear"></div>
    </div>
    <div></div>
  </div>
</div>

      