<style>
  .ludashi-detail-client-table {
    text-align: center;
    border: 0 none;
    width: 266px;
    border-spacing: 0;
    border-collapse: collapse;
  }  
  
  .ludashi-detail-client-th {
    height: 30px;
    line-height: 30px;
    width: 106px;
    color: #039ae3;
    background-color: #e9f7ff;
    font-size: 12px;
    font-weight: normal;
    white-space: nowrap;    
    padding: 0;
    position: relative;
  }
  
  .ludashi-detail-client-th-border {
    width: 159px;
    box-sizing: content-box;
    border-right: 1px solid #fff;
  }
  
  .ludashi-detail-client-th-first {
    width: 160px;
  }
  
  .ludashi-detail-client-tr-first td {
    padding-top: 11px;
  }
  
  .ludashi-detail-client-tr-last td {
    padding-bottom: 11px;    
  }
  
  .ludashi-detail-client-td {
    height: 32px;
    line-height: 32px;  
    font-size: 12px;
    color: #666;
    white-space: nowrap;
    padding: 0;
  }
</style>
<table class="ludashi-detail-client-table">  
  <tr class="ludashi-detail-client-tr-head">
    <th class="ludashi-detail-client-th ludashi-detail-client-th-first">
      <div class="ludashi-detail-client-th-border">项目</div>
    </th>
    <th class="ludashi-detail-client-th">
      得分
    </th>
  </tr>
  <tr class="ludashi-detail-client-tr ludashi-detail-client-tr-first">
    <td class="ludashi-detail-client-td">桌面滑动</td>
    <td class="ludashi-detail-client-td">12.34</td>
  </tr>
  <tr class="ludashi-detail-client-tr">
    <td class="ludashi-detail-client-td">点击</td>
    <td class="ludashi-detail-client-td">12.34</td>
  </tr>
  <tr class="ludashi-detail-client-tr">
    <td class="ludashi-detail-client-td">单张照片查看与操作</td>
    <td class="ludashi-detail-client-td">12.34</td>
  </tr>
  <tr class="ludashi-detail-client-tr">
    <td class="ludashi-detail-client-td">点击</td>
    <td class="ludashi-detail-client-td">12.34</td>
  </tr>
  <tr class="ludashi-detail-client-tr">
    <td class="ludashi-detail-client-td">单张照片查看与操作</td>
    <td class="ludashi-detail-client-td">12.34</td>
  </tr>
  <tr class="ludashi-detail-client-tr">
    <td class="ludashi-detail-client-td">点击</td>
    <td class="ludashi-detail-client-td">12.34</td>
  </tr>
  <tr class="ludashi-detail-client-tr">
    <td class="ludashi-detail-client-td">单张照片查看与操作</td>
    <td class="ludashi-detail-client-td">12.34</td>
  </tr>
  <tr class="ludashi-detail-client-tr">
    <td class="ludashi-detail-client-td">点击</td>
    <td class="ludashi-detail-client-td">12.34</td>
  </tr>
  <tr class="ludashi-detail-client-tr">
    <td class="ludashi-detail-client-td">单张照片查看与操作</td>
    <td class="ludashi-detail-client-td">12.34</td>
  </tr>
  <tr class="ludashi-detail-client-tr">
    <td class="ludashi-detail-client-td">点击</td>
    <td class="ludashi-detail-client-td">12.34</td>
  </tr>
  <tr class="ludashi-detail-client-tr ludashi-detail-client-tr-last">
    <td class="ludashi-detail-client-td">相册缩略图列表加载</td>
    <td class="ludashi-detail-client-td">12.34</td>
  </tr>
</table>