<style>
  .ludashi-compare-first-line {
      width: 208px;
      height: 148px;
      display: table-cell;
      vertical-align: middle;
      white-space: nowrap;
  }
  
  .ludashi-compare-first-line .th-rom-thumb {
    vertical-align: text-bottom;
  }
</style>
<td class="ludashi-compare-first-line">
  {{> atoms-th-rom-thumb }} 
  {{> atoms-th-rom-title }} 
</td>