<style>
.download-ludashi { 
    color: #039ae3; 
    font-size: 14px;
    cursor: pointer;
    padding-right: 12px;
    background: url(/images/download-ludashi.png) no-repeat center right; 
}
.download-ludashi img
    vertical-align: middle;
    margin-left: 2px;
</style>
<span class="download-ludashi">下载鲁大师</span>